.transactions {
    width: calc(100% - 300px);
    .transactions-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        input {
            background: #262938;
            color: white;
            border: none;
            border-radius: 100px;
            padding: 7px;
            &:focus {
                outline: none;
            }
        }
        .transaction-dropdowns {
            display: flex;
            .filters {
                display: flex;
                background: #262938;
                border: 1px solid hsl(230, 29%, 28%);
                border-radius: 4px;
                .all,
                .income,
                .expenses {
                    font-size: 0.875rem;
                    padding: 0.1875rem;
                    cursor: pointer;
                    &:hover {
                        background: hsl(230, 19%, 48%);
                        color: white;
                    }
                }
            }
        }
    }
    .transaction-body {
        padding: 0px 15px 15px 15px;
    }
}
